{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/assignments/assignment-detail.css" %}">
{% endblock head %}
{% block content %}
<h1>Assignment Details</h1>
<hr>
<section class='assignment-container'>
    <div class='assignment-details'>
    {% if assignment %}
        <h2 class='card-header'>Student: {{ assignment.student }}</h2>
        <h2 class='card-header'>Tutor: {{ assignment.tutor }}</h2>
        <p> Learning Time: {{ assignment.start_time }} - {{ assignment.end_time }} </p>
        <p>{{ assignment.goal }}</p>
        <p> Rate per Hour: {{ assignment.hourly_rate }} CHF </p>
        <p>Sponsor: {{ assignment.get_sponsor_display }}</p>
        <div class='assignment-actions'>
            <a href="{% url "assignment-update" assignment.id %}" class="btn warn">Edit</a>
            <a href="{% url "assignment-delete" assignment.id %}" class="btn danger">Delete</a>
        </div>
    {% else %}
        <h2>There no Assignments created yet. create one by clicking on 'Create Assignment'</h2>
    {% endif %}
    </div>
</section>

<section class='sessions'>
    <div class='subsection-title'>
        <h2>Sessions</h2>
        <hr>
    </div>
    <h3>Add a Session</h3>
    <form 
    action="{% url "add-session" assignment.id %}"
    method="post"
    class="subsection-content"
    autocomplete="off"
    >
    {% csrf_token %}
    {{ session_form.as_p }}
    <button type='submit' class='btn submit'>Add Session</button>
    </form>
    <h3>Past Sessions</h3>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Note</th>
                <th>Created at</th>
            </tr>
        </thead>
        <tbody>
                {% for session in assignment.session_set.all %}
                <tr>
                    <td> {{ session.date }} </td>
                    <td> {{ session.time_started }} </td>
                    <td> {{ session.duration }} </td>
                    <td> {{ session.note }} </td>
                    <td> {{ session.created_at }} </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
</section>
{% endblock content %}

