{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/assignments/assignment-form.css" %}">
{% endblock head %}
{% block content %}
<div class='page-header'>
    {% if assignment %}
    <h1>עריכת השיבוץ של '{{ assignment }}' </h1>
    {% else %}
    <h1>יצירת שיבוץ חדש</h1>
    {% endif %}
</div>

<form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <button type="submit" class='btn'>שמור</button>
</form>
{% endblock content %}