{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/assignments/assignment-list.css" %}">
{% endblock head %}
{% block content %}
<section class='page-header'>
    <h1>שיבוצים</h1>
    <hr />
    {% if user.is_superuser %}
    <button class='btn' onclick="location.href='{% url "assignment-create" %}'" type="button">שיבוץ חדש</button>
    {% endif %}
</section>
<section class="card-container">
    {% if not assignment_list %}
    <h2>אין שיבוצים עבורך. בקש מהמנהל שלך ליצור אחד כדי להתחיל</h2>
    {% else %}
    
    {% for assignment in assignment_list %}
    <div class='card' DIR="RTL">
        <a href="{% url "assignment-detail"  assignment.id %}">
            <h2 class='card-header'>תלמיד: {{ assignment.student }} </h2>
            <h2 class='card-header'>אברך: {{ assignment.tutor }}</h2>
            <div class='card-content'>
                <p>זמן לימוד: {{ assignment.start_time}} - 
                    {{ assignment.end_time }} </p>
                <p>מטרת הלימוד: {{ assignment.goal }} </p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock content %}