{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static "css/assignments/assignment-form.css" %}">
{% endblock head %}
{% block content %}
<div class='page-header'>
    {% if student %}
    <h1>עריכת '{{ assignment }}' </h1> {% comment "" %} this line still needs to be checked!!!!! {% endcomment %}
    {% else %}
    <h1>הוספת תלמיד</h1>
    {% endif %}
</div>

<form action="" method="post" class="form-container">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <button type="submit" class='btn'>הוסיף תלמיד</button>
</form>
{% endblock content %}