{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TutorTrack</title>
{% block head %}
{% endblock head %}
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url "assignment-create" %}">Create Assignment</a></li>
                <li><a href="{% url "assignment-list" %}">All Assignments</a></li>
                <li><a href="{% url "student-create" %}">Add Student</a></li>
                <li>
                    <form id='logout-form' method="post" action="{% url "logout" %}">
                        {% csrf_token %}
                        <button type='submit'>Log out</button>
                    </form>
                </li>
                {% else %}
                <li><a href="{% url "home" %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>