{% extends "base.html" %} {% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block content %}
<h1>מערכת אברכים</h1>
<h2>האפליקציה לניהול מערכת הלימודים של אברכים עם בחורים</h2>
<section>
    <form action="{% url "home" %}" method="post" class="login">
        <h1>כניסה</h1>
        {% csrf_token %} {{ form.as_p }}
        <input type="hidden" name="next" value="{{ next }}"/>
        <button type="submit" class="btn submit">כניסה</button>
    </form>
</section>
{% endblock content %}

